{% extends 'admin/base_site.html' %}
{% block content %}
  <div class="container mt-4">
    <h1>Жалобы</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Пользователь</th>
          <th>Точка</th>
          <th>Описание</th>
          <th>Тип</th>
          <th>Дата создания</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
          <tr>
            <td>@{{ report.user.username }}</td>
            <td>
              <a href="{% url 'point_detail' report.point.id %}">{{ report.point.name }}</a>
            </td>
            <td>{{ report.description }}</td>
            <td>{{ report.get_type_display }}</td>
            <td>{{ report.created_at }}</td>
            <td>
              <form action="{% url 'reports_list' %}"
                    method="post"
                    style="display:inline">
                {% csrf_token %}
                <input type="hidden" name="report_id" value="{{ report.id }}">
                <button type="submit" class="btn btn-danger btn-sm">Закрыть жалобу</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
